<h1>Filming movie</h1>

<p id="notice"><%= notice %></p>

<table border="0" cellpadding="30">
  <tr>
    <td>
      <%= form_tag movie_filming_movie_path do -%>
        <div class="field">
          <b>Movies</b><br />
          <%= select_tag "movie_id", options_for_select([['--- select a movie ---', nil]] + list_movies_for_select, params[:movie_id].to_i) -%> 
        </div>

        <div class="field">
          <b>Cities</b><br />
          <%= select_tag "movie_city_id", options_for_select([['--- select a city ---', nil]] + list_cities_assoc_movie_for_select(params[:movie_id]), params[:movie_city_id].to_i) -%> 
        </div>

        <div class="field">
          <b>Places</b><br />
          <%= select_tag "movie_place_id", options_for_select([['--- select a place ---', nil]] + list_places_assoc_city_for_select(params[:movie_city_id]), params[:movie_place_id].to_i) -%> 
        </div>
       
        <div class="actions">
          <%= submit_tag "Filming" -%>
        </div>
      <%- end -%>
    </td>

    <td>
      <%= form_tag city_filming_movie_path do -%>
        <div class="field">
          <b>Cities</b><br />
          <%= select_tag "city_id", options_for_select([['--- select a city ---', nil]] + list_cities_for_select, params[:city_id].to_i) -%> 
        </div>

        <div class="field">
          <b>Places</b><br />
          <%= select_tag "city_place_id", options_for_select([['--- select a place ---', nil]] + list_places_assoc_city_for_select(params[:city_id]), params[:city_place_id].to_i) -%> 
        </div>
       
        <div class="field">
          <b>Movies</b><br />
          <%= select_tag "city_movie_id", options_for_select([['--- select a movie ---', nil]] + list_movies_assoc_place_for_select(params[:city_place_id]), params[:city_movie_id].to_i) -%> 
        </div>

        <div class="actions">
          <%= submit_tag "Filming" -%>
        </div>
      <%- end -%>
    </td>

    <td>
      <%= form_tag place_filming_movie_path do -%>
        <div class="field">
          <b>Places</b><br />
          <%= select_tag "place_id", options_for_select([['--- select a place ---', nil]] + list_places_for_select, params[:place_id].to_i) -%> 
        </div>
       
        <div class="field">
          <b>Cities</b><br />
          <%= select_tag "place_city_id", options_for_select([['--- select a city ---', nil]] + list_cities_assoc_place_for_select(params[:place_id]), params[:place_city_id].to_i) -%> 
        </div>

        <div class="field">
          <b>Movies</b><br />
          <%= select_tag "place_movie_id", options_for_select([['--- select a movie ---', nil]] + list_movies_assoc_city_for_select(params[:place_city_id]), params[:place_movie_id].to_i) -%> 
        </div>

        <div class="actions">
          <%= submit_tag "Filming" -%>
        </div>
      <%- end -%>
    </td>
  </tr>
</table>

<%- unless @map.blank? -%>
  <%=raw @map_title -%><br /><br />
  <div style="width:700px;height:400px;" id="map" > [Map] </div>
<%- end -%>

<%=raw Cartographer::Header.new.to_s %>
<%=raw @map.to_html unless @map.blank? -%>

<%= hidden_field_tag "drilldown_url", drill_down_index_url -%>
