<h1>Listing movies</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= movie.name %></td>
    <td><%= link_to 'Show', movie %></td>
    <td><%= link_to 'Associate to city', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%=raw Cartographer::Header.new.to_s %>
<%=raw @map.to_html %>
<div style="width:700px;height:400px;" id="map" > [Map] </div>
<br />

<%= link_to 'New Movie', new_movie_path %>
