<%=raw Cartographer::Header.new.to_s %>
<p id="notice"><%= notice %></p>

<p>
  <b>Place:</b>
  <%= @place.name %>
</p>

<p>
  <b>Movies:</b>
  <%= @place.movies.map(&:name).join(', ') -%>
</p>

<p>
  <b>City:</b>
  <%= @place.city.name %>
</p>

<br />
<div style="width:700px;height:400px;" id="map" > [Map] </div>
<br />

<%= link_to 'Back', places_path %>

<%=raw @map.to_html %>
